body {
    font-family: "Rubik";
}

.navbar-toggler-icon {
    background-color: white;
    border-color: aliceblue;
}


.navbar-toggler {
    border-color: #acacac;
}

.cstm-hvr:hover {
    color: white;
}

.main-img {
    background-image: url(../img/mainback.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}


.menu-link {
    color: rgb(172, 172, 172);
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
}


.main-text {
    padding-top: 143px;
    color: rgb(41, 41, 41);
    font-size: 42px;
    font-weight: 800;
    line-height: 50px;
    max-width: 387px;
}

.main-subtitle {
    margin-top: 19px;
    max-width: 457px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}


.main {
    padding-bottom: 300px;

}


.about {
    padding: 200px 0;
}

.about-text {
    color: rgb(81, 76, 76);
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
}

.method,
.join {
    padding: 100px 0;
    background: rgb(216, 216, 216);
}

.block-title {
    color: rgb(47, 45, 45);
    font-size: 39px;
    font-weight: 800;
    line-height: 46px;
    /* max-width: 455px; */
}

.block-right {
    max-width: 600px;

}

.block-right-two {
    max-width: 544px;
}

.block-right-list {
    margin-left: -15px;
}

/* .main-block {
    display: flex;
    justify-content: space-between;
} */

.under-title {
    font-size: 20px;
}

.join-name {
    margin-left: 84px;
}

.join-img {
    display: block;
}

.method-button {
    display: none;
}

.courses {
    padding: 100px 10px;
}

.about_courses {
    padding: 100px 0;
}





@media (max-width: 1140px) {

    /* .block-right-two {
        display: none;
    } */

    .block-title {
        max-width: 600px;
    }

    /* .method-button {
        display: block;
    } */

    .block-right-two {
        justify-content: center;
    }

    .method-button {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 992px) {
    .main-block {
        flex-direction: column;
    }

    .icon-list {
        justify-content: flex-start;
    }

    .about {
        padding: 100px 0;
    }

    .join-img {
        display: none;
    }

    .block-right-two,
    .block-right {
        max-width: none;
    }

    .block-right .method-img img {

        width: 100%;
        /* Устанавливаем ширину изображения на 100% */
        height: auto;
        /* Поддерживаем соотношение сторон */
    }
    .about-card {
        flex-direction: column;
    }
    .about-img img {
        width: 400px;
    }

}

@media (max-width: 360px) {
    .main-btn {
        flex-direction: column;
    }
}

@media (max-width: 750px) {
    .about-text {
        font-size: 27px;
    }

    .main-text {
        padding-top: 80px;
    }

    .comment {
        flex-direction: column;
    }

    .join-name {
        margin-left: 23px;
    }
}